img{
  width:100px;
  height:100px;
}
main{
  margin-bottom:75px;
}
.appTitleLink{
  color:white;
  text-decoration: none;
}
.appTitleLink:hover{
  text-decoration: underline;
}
.homeLink{
  color:white;
  text-decoration: none;
  position:fixed;
  left:0;
  padding:20px;
}

.AboutLink{
  color:white;
}
.AboutLink:hover{
  transform:scale(1.2);
}
@media(max-width:500px){
  .appTitle{
    font-size:24px;
  }
}
@media(max-width:375px){
  .appTitle{
    font-size:20px;
  }
}

